:root{
    --login-cor-primaria: #3A68B7
}
body{
    align-items: center;
    background-color: var(--login-cor-primaria);
    display: flex;
    font-family: Roboto, sans-serif;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}
.form{
    width: 80%;
    max-width: 32rem;
    border-left: 10px solid rgba(0, 0, 0, .5);
    background-image: linear-gradient(to right, rgba(0, 0, 0, .3) .5rem, white .5rem);
}
.formFieldset{
    border: none;
    display: flex;
    flex-direction: column;
    gap: .25em;
    padding: 2rem;
}
.formTitulo{
    color: var(--login-cor-primaria);
    font-size: 2rem;
    font-weight: 300;
    padding-top: 2rem;
}
.formLabel{
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 300;
}
.formInput{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--login-cor-primaria);
    font-size: 1.2rem;
    margin-bottom: .8rem;
    outline: none;
    padding: .5em 0;
    transition: padding-left .08s;
}
.formInput:focus{
    outline: 2px solid var(--login-cor-primaria);
    padding-left: .3rem;
}
.formActions{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.btn{
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: .8rem 1.2rem;
    text-decoration: none;
}
.btn-principal{
    background-color: var(--login-cor-primaria);
    color: white;
}
.btn-secundario{
    color: var(--login-cor-primaria);
}
.formActionsEsquerda{
    font-size: .85rem;
    text-align: right;
    flex-grow: 1;
}