html{
    background-color: #181818;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: white;
}
body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}
form{
    width: 90%;
    min-width: 28.125em;
    max-width: 35em;
    padding: 1em;
    background-color: #0E1010;
}
fieldset{
    border: none;
    margin: 0;
    padding: 0;
}
label, input, textarea{
    display: block;
    width: 100%;
    box-sizing: border-box;
}
input, textarea{
    background-color: rgba(0, 0, 0, .3);
    color: white;
    border: 2px solid transparent;
    border-bottom-color: #bbb;
    margin: .5em 0 2.5em;
    padding: .75em;
}
legend{
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    color: #8E999A;
    padding: .5em;
}
.btn{
    background-color: #2A2727;
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    border: none;
    padding: .7em;
}