:root{
    --primary-color: #FED001;
}
html{
    /* font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    font-weight: 400; */
    font: 400 62.5% 'Inter', sans-serif;
}
p, a{
    font-size: 1.6rem;
}
nav a{
    color: inherit;
}
.upper{
    text-transform: uppercase;
}
.wrapperContainer-dark{
    background-color: #2A2A2A;
    color: #FAFAFA;
}
.wrapperContainer-light{
    background-color: #FAFAFA;
}
.wrapperContainer-dark2{
    background-color: #003464;
    color: #FAFAFA;
}
.container{
    max-width: 127.6rem;
    margin: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    padding: 2rem 0;
}
.header_nav a{
    padding: .75em 1.15em;
    border: solid 1px;
    text-decoration: none;
}
.header_nav ul{
    display: flex;
    gap: .6rem;
    list-style-type: none;
}