:root{
    --primary-color: #FED001;
}
html{
    /* font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    font-weight: 400; */
    font: 400 62.5% 'Inter', sans-serif;
}
p, a{
    font-size: 1.6rem;
}
.upper{
    text-transform: uppercase;
}
.wrapperContainer-dark{
    background-color: #2A2A2A;
}
.wrapperContainer-light{
    background-color: #FAFAFA;
}
.wrapperContainer-dark2{
    background-color: #003464;
}