/* Criação das variáveis */
:root{
    --cor-primaria: #FF7833;
    --cor-secundaria: #31333B;
}
/* Formatação das tags */
html{
    font-size: 62.5%;
}
body{
    display: flex;
    margin: 0;
    min-height: 100vh;
    color: #E7E7E7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    color: inherit;
}
/* Formatação das classes */
.main-header{
    flex: 0 0 26rem;
    background-color: var(--cor-secundaria);
}
.main-content{
    flex: 1 0;
    background-color: #444856;
}
.main-header, .main-content{
    font-size: 1.6rem;
}
.img-perfil{
    max-width: 10rem;
}