/* Criação das variáveis */
:root{
    --cor-primaria: #FF7833;
    --cor-secundaria: #31333B;
    --cor-secundaria-escura: ;
    --cor-terciaria: #444856;
}
/* Formatação das tags */
html{
    font-size: 62.5%;
}
body{
    color: #E7E7E7;
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.7;
    margin: 0;
    min-height: 100vh;
}
h1{
    color: #A9A7A7;
    font-size: 4rem;
    margin: 2rem 0 3rem;
}
h2, h3, h4, h5, h6{
    color: var(--cor-primaria);
    margin: 0;
}
h2{
    margin-top: 1rem;
}
article{
    padding: 1em 0;
}
section{
    margin-bottom: 3rem;
}
a{
    color: inherit;
}
/* Formatação das classes */
.main-header{
    background-color: var(--cor-secundaria);
    flex: 0 0 26rem;
}
.main-content{
    background-color: var(--cor-terciaria);
    flex: 1 0;
    padding: 6.5rem 6rem 7.5rem;
}
.main-header, .main-content{
    font-size: 1.6rem;
}
.main-nav{
    text-align: right;
    padding: 6.5rem 2.4rem 2.4rem;
}
.main-nav ul{
    list-style-type: none;
    padding: 0;
}
.main-nav ul a{
    background-color: transparent;
    display: block;
    padding: 1.2rem 0;
    text-decoration: none;
    transition: padding-right .2s, background-color .4s;
}
.main-nav ul a:hover, .main-nav ul a:focus{
    background-color: var(--cor-terciaria);
    padding-right: 1rem;
}
.main-nav li{
    border-bottom: 1px solid #7B7B7B;
    padding: .4rem 0;
}
.img-perfil{
    max-width: 10rem;
}
.btn{
    background-color: var(--cor-secundaria);
    border: 2px solid var(--cor-secundaria-escura);
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    padding: .8em 1.2em;
    border-radius: 5px;
}
.btn:not(.btn-full) + .btn{
    margin-left: 2rem;
}
.btn-grande{
    font-size: 1.6rem;
}
.btn-outline{
    background-color: transparent;
}
.btn-full{
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}
.btn-full + .btn-full{
    margin-top: 2rem;
}
.destaque{
    border-left: 1px solid var(--cor-primaria);
    font-size: 1.1em;
    margin-bottom: 2.2em;
    padding-left: 2em;
}
.card{
    background-color: var(--cor-secundaria);
    max-width: 740px;
    padding: 0;
}
.card-content{
    padding: .5em 1em 1em;
}
.card-content p, .card-titulo{
    margin: 0;
}
.card-titulo{
    font-size: 1.75em;
    margin-bottom: .25em;
}
.card img{
    max-width: 100%;
}
.row{
    display: flex;
    gap: 1.5em;
    padding-top: 1.5rem;
}